<p>Made by the MVHS computer science club - 2024</p>
<p>Check out our <a href = "https://github.com/Metea-Valley-Computer-Science-Club/Website" target="_blank" style = "color:#da5b20; text-decoration: underline;">source code</a>.</p>