<nav id="menu">
  <img src = "favicon-32x32.png" class = "logo" >
  <h1 >Metea Valley Computer Science Club</h1>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/resources">Resources</a>
    </li>
    <li>
      <a href="/calendar">Calendar</a>
    </li>
  </ul>
</nav>