<nav id="menu">
  <p>Logo here</p>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/resources">Resources</a>
    </li>
    <li>
      <a href="/calendar">Calendar</a>
    </li>
  </ul>
</nav>