<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>
        <link rel="stylesheet" href="/css/calendar.css">
    </head>
    <body>
        <%- include('partials/header'); %>
        <main>

        </main>
        <%- include('partials/footer'); %>
    </body>
</html>