<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>
        <link rel="stylesheet" href="/css/calendar.css">
    </head>
    <body>
        <%- include('partials/header'); %>
        <div id="hero">
            <p>Some cool image that fits csc! </p>
        </div>
        <table>
            <tr>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuseday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saterday</th>
            </tr>
        </table>
        <%- include('partials/footer'); %>
    </body>
</html>