<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>
    </head>
    <body>
        <%- include('partials/header'); %>
        <div id="hero">
            <p>Some cool image that fits csc! </p>
        </div>
        <main>
            <%- data %>
        </main>

        <footer>
            <%- include('partials/footer'); %>
        </footer> 
    </body>
</html>