/*
    To whoever does moble 
    https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries
*/

body {
    background-color: #353337;
    min-height: 100vh;
    font-family: Fira;
    display: grid;
    grid-template-rows: 3.5rem auto auto;
    padding: 0;
    margin: 0;
}

#hero {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/images/bg.jpg");
    background-size: 100%;
    align-content: center;
    width: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    /*height: 60vh;*/
}

/*#e6e6e7*/
#title h1 {
    background-color: black;
    color: #e6e6e7;
    font-size: 80px;
}

#title {
    height: fit-content;
    width: fit-content;
}

@font-face {
    font-family: 'Fira';
    src: url('fonts/FiraCode-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

main {
    display: flex;
    font-family: Arial;
    color: #e6e6e7;
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    border-bottom: 2px solid #daa520;
}

a {
    color: #da5b20;
}