body {
    background-color: #353337;

}
@font-face {
    font-family: 'Fira';
    src: url('fonts/FiraCode-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

main {
    font-family: Fira;
    color: #e6e6e7;
    /*padding-left: 25%;
    padding-right: 25%;
        border: solid;
    border-color: #e6e6e7;
    border-radius: 2px;*/
    margin: auto;
    width: 50%;
    padding:10px;
    

}

main > h1{
    border-bottom:2px solid #daa520;
}



.logo{
    padding-left:15px; 
    padding-top: 15px;
    display: flex;
    
}

footer{
    position:fixed;
    border-top:2px solid #100f11;
    left: 0;
    bottom: 0;
    right:0;
    color:#daa520;
    background-color: #232025;
    text-align: center;
    
}
