#menu {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding-left: .5rem;
    background-image:linear-gradient(45deg, #232025 30%, #ffffff44 100%);
    border-bottom:2px solid #100f11;
}

#menu a {
    color: #daa520;
    text-decoration: none;
}
#menu a:hover {
    color: #cfbb88;
}

#menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 1rem;
}
#menu li {
    padding-left: .5rem;
    padding-right: .5rem;
}

#menu img {
    float:left;
    width: 100%;
    height: auto;
    max-width: 8.5rem;
    padding: 0;
    margin: 0;
}