<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <%- include('partials/navbar'); %>
  <div id="hero">
  </div>
  <main>
    <%- data %>
  </main>

  <%- include('partials/footer'); %>
</body>

</html>