<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <%- include('partials/navbar'); %>

    <main>
      <p>It would seem that this page isn't finished yet. If you would like to see this page finished sooner consider
        helping! &#9787; <br>
        <br>Visit our <a href="https://github.com/MeteaCSC/Website">Github</a> to get started
      </p>
    </main>

    <%- include('partials/footer'); %>
</body>

</html>