<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <%- include('partials/navbar'); %>
    <div id="hero"></div>
    <main>
      <h1># Welcome to resources!</h1>
      <p>Need things for AP CS principles or AP CSA? Materials from a computer science club meeting? We have it all here.</p>

    </main>

    <%- include('partials/footer'); %>
</body>

</html>