<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <%- include('partials/navbar'); %>
    <div id="hero"></div>
    <main>
      <%- resources %>
    </main>

    <%- include('partials/footer'); %>
</body>

</html>