/*
    To whoever does moble 
    https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries
*/

body {
    background-color: #353337;
    min-height: 100vh;
    font-family: Fira;
    display: grid;
    grid-template-rows: 3.5rem auto auto;
    padding: 0;
    margin: 0;
}

#hero {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/png/bg.jpg");
    background-size:100%;
    align-content: center;
    padding-left: 10vw;
    width: auto;
    height: 60vh;
}

#title h1 {
    color: #e6e6e7;
    font-size: 80px;
}

#title {
    background-color: black;
}

@font-face {
    font-family: 'Fira';
    src: url('fonts/FiraCode-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

main {
    display: flex;
    font-family: Arial;
    color: #e6e6e7;
    padding-left: 10%;
    padding-right: 10%;
}

h1{
    border-bottom:2px solid #daa520;
}

a {
    color: #da5b20;
}