<footer>
  <p>Made by the MVHS Computer Science Club - 2024/2025 | Check out our
    <a href="https://github.com/Metea-Valley-Computer-Science-Club/Website" target="_blank">source code!</a>
  </p>
</footer>