<meta charset="UTF-8">
<title><%- titleName _%> | MeteaCSC</title>
<link rel="icon" type="image/x-icon" href="/png/favicon-32x32.png">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/navbar2.css">
<link rel="stylesheet" href="/css/footer.css">