<header id="menu">
  <nav>
    <a href="/">
      <img src="/png/meteacsc_transparent.png">
    </a>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/calendar">Calendar</a>
      </li>
      <li>
        <a href="/information">Information</a>
      </li>
    </ul>
  </nav>
</header>