<header id="navbar">
  <nav>
    <div>
      <a href="\">
        <img src="/images/favicon-32x32.png">
      </a>
    </div>
    <ul>
      <li>
        <a href="/calendar">Calendar</a>
      </li>
      <li>
        <a href="/resources">Resources</a>
      </li>
      <li>
        <a href="/leaderboards">Leaderboards</a>
      </li>
    </ul>
    <a href="/#about">About</a>
  </nav>
</header>